.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);

}

.myModalContent {
    padding: 20px;
    background: white;
    border-radius: 8px;
    min-width: 250px;
    width: 400px;
    height: 500px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeModal{
    position: relative;
    left: 350px;
    bottom: 10px;
}